
.example-spacer {
  flex: 1 1 auto;
}

.swiper-container {
  width: 100%;

}

.boton-fecha {
	line-height: 20px !important;
}

.jcontainer {
	display: flex;
	flex-flow: row wrap;
}

.jitem {
	width: 23.5%;
	padding: 10px;
}

.mat-card {
	background-color: #F0F3F6;
	text-align: center;
}

.mat-card-header {
	display: inline;
}

.icono {
	margin-bottom: 20px;
}

.pie {
  display: flex;
  justify-content: center;
  align-items: center;
	margin-top: 10px;
}

.fijo {
	position: fixed !important;
	right: 15px;
	bottom: 15px;
}